.form {
    border-radius: $radius-base;
    box-shadow: $shadow-second;
    padding: 34px;
    max-width: 450px;
    width: 100%;
    overflow: hidden;

    &__control {
        margin-bottom: 60px;
        display: flex;
        align-items: center;
        position: relative;

        color: $color-text;
        font-size: $fz-medium;
        font-weight: 700;

        border-radius: $radius-field;
        box-shadow: $shadow-base;
        padding: 6px;
    }

    &__nav {
        flex-grow: 2;
        text-align: center;
        cursor: pointer;
        background-color: transparent;
        border: none;
        outline: none;

        padding: 12px 0;

        @media (any-hover: hover) {
            &:hover {
                .form__text::after {
                    width: 100%;
                }
            }
        }
    }

    &__text {
        user-select: none;
        color: transparent;
        background-image: linear-gradient(90deg, $color-text 50%, $color-accent 50%);
        background-size: 200% 100%;
        background-clip: text;
        -webkit-background-clip: text;

        transition: background-position 0.2s linear;
        transition-delay: 0.2s;

        position: relative;
        &::after {
            content: '';
            position: absolute;
            pointer-events: none;
            bottom: -2px;
            left: 50%;
            transform: translateX(-50%);
            height: 2px;
            width: 0;
            background-color: $color-text;
            transition: width 0.5s ease-in-out;
        }
    }

    &__sign-up {
        .form__text {
            background-position: 200%;
        }
    }

    &__sign-in {
        .form__text {
            background-position: 0%;
        }
    }

    &__nav--active {
        .form__text {
            background-position: 100%;
        }

        .form__text::after {
            content: none;
        }
    }

    &__frame {
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        border-radius: $radius-small;
        box-shadow: inset 3px 3px 6px #bcbcbc, inset -3px -3px 6px #ffffff;
        transition: transform 0.5s ease-in-out;
    }

    &__frame--transform {
        transform: translateX(100%);
    }

    &__inputs {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;

        margin-bottom: 24px;
    }

    &__checkbox {
        margin-bottom: 34px;
    }

    &__tab-in {
        display: none;
    }

    &__tab-up {
        display: none;

        .form__inputs {
            margin-bottom: 55.5px;
        }

        .form__checkbox {
            margin-bottom: 55.5px;
        }
    }

    &__tab--active {
        display: block;
    }

    &__or {
        text-align: center;
        font-size: $fz-medium;
        color: $color-text;
        text-transform: uppercase;

        margin-bottom: 24px;
    }

    &__services {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;

        margin-bottom: 24px;
    }
}
