.submit {
    position: relative;
    width: 100%;

    @media (any-hover: hover) {
        &:hover .wave--animation {
            animation: waves 0.8s linear;
        }
    }

    &__btn {
        box-shadow: $shadow-base;
        border: none;
        background-color: transparent;
        padding: 14px;
        width: 100%;
        outline: none;
        border-radius: $radius-large;
        color: $color-text;
        line-height: $line-height-base;
        font-size: $fz-large;
        text-transform: uppercase;
        cursor: pointer;
        position: relative;
        z-index: 10;
        transition: box-shadow 0.4s ease-in-out;

        &:active {
            box-shadow: $shadow-second;
        }
    }
}
