// Font-family
$main-font: 'Roboto';

// Color
$color-text: #575f6b;
// $color-accent: #44c4ff;
$color-accent: #3392f5;
$bg-color: linear-gradient(90deg, #f2f3f6 0%, #e5e6ec 100%);
// $bg-color: hsl(223, 90%, 95%);

// Font-size
$fz-base: 16px;
$fz-medium: 20px;
$fz-large: 28px;

// Line-height
$line-height-base: 1.25;

// Border-radius
$radius-small: 4px;
$radius-field: 6px;
$radius-base: 20px;
$radius-large: 38px;

// Shadow
$shadow-base: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
// $shadow-second: inset 5px 5px 10px #bebebe, inset -5px -5px 10px #ffffff;
$shadow-second: inset 3px 3px 7px #bebebe, inset -3px -3px 8px #ffffff;
$shadow-square: 2px 2px 5px #bebebe, -2px -2px 5px #ffffff;

// Offset
$offset-base: 18px;
